---
layout: default
title: Home
---

<div class="tCenter" style="margin-bottom:-50px; padding-top:10px !important">
    <!--Row-->
    <!--<div class="row "> -->
    <div class="col-md-12">
        <a class="but opc-1 ico" href="Meryem_M_hamdi_Resume.pdf"> <i class="fa fa-download"> </i> Download my CV</a>
    </div>
    <!-- </div> -->
    <!--End row-->
</div>

{% if page.url == "/" %}

<!-- Featured-->
<div class="featured-posts outer">
    {% for post in site.posts %}
        {% if post.featured == true %}
            {% include featuredbox.html %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}

<!-- News Index -->
<div class="outer">
    {% if page.url == "/" %}
    <div class="post-feed-title inner"> Pipeline/News </div>
    {% endif %}
    <div class="post-feed inner-wide">
            <div class="post-feed inner-wide">

            <h3 id="2020"></h3>
                <ul>
                    <li><strong>February:</strong> Will be joining <a href="https://research.adobe.com/research/">Adobe Research </a> in May for a summer internship in their San Jose HQ! </li>
                </ul>
            <h3 id="2019">2019</h3>
                <ul>
                    <li><strong>November:</strong> Attending EMNLP 2019 in Hong Kong to present my work at CONLL !</li>
                    <li><strong>October:</strong> Participating in IARPA BETTER Kickoff Meeting ! </li>
                    <li><strong>September:</strong> Organizing the <a href="https://socalnlp.github.io/symp19/index.html"> 2nd SoCal NLP Symposium in USC! </a></li>
                    <li><strong>January:</strong> Joining USC/ISI NLP Group! </li>
                </ul>


            <h3 id="2018">2018</h3>
                <ul>
                    <li><strong>November:</strong> Attending EMNLP 2018 in Brussels to present a poster in CONLL!</li>
                    <li><strong>September:</strong> Graduated from EPFL with a Master in Computer Science!</li>
                </ul>

            </div>
    </div>
</div>

<!-- Posts Index -->
<div class="outer">
    {% if page.url == "/" %}
    <div class="post-feed-title inner">Latest Articles</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>


