---
layout: default
title: Home
---

<div class="tCenter" style="margin-bottom:-50px; padding-top:10px !important">
    <!--Row-->
    <!--<div class="row "> -->
    <div class="col-md-12">
        <a class="but opc-1 ico" href="Meryem_M_hamdi_CV_Latest.pdf"> <i class="fa fa-download"> </i> Download CV</a>
    </div>
    <!-- </div> -->
    <!--End row-->
</div>


<!-- News Index -->
<div class="outer">
    {% if page.url == "/" %}
    <div class="post-feed-title inner"> Pipeline/News </div>
    {% endif %}
    <div class="post-feed inner-wide">
            <div class="post-feed inner">
                <h3 id="2021"> 2021</h3>
                    <ul>
                        <li><strong>April:</strong> Will be serving on the Program Committee of <a href="https://2021.emnlp.org/"> EMNLP 2021 </a>  and <a href="https://meta-nlp-2021.github.io/"> Meta-learning and Its Applications to Natural Language Processing Workshop at ACL'21 </a>! </li>
                        <li><strong>March:</strong> Excited to share that our <a href="https://arxiv.org/abs/2104.09696"> paper </a> with Adobe on "X-METRA-ADA: Cross-lingual Meta-Transfer learning Adaptation to Natural Language Understanding and Question Answering" got accepted to <a href="https://2021.naacl.org/"> NAACL 2021 </a> </li>
                        <li><strong>February:</strong> Part of the organizing committee of Morocco.AI Webinar series! Join us for our first <a href="https://www.youtube.com/watch?v=3s1kdizz3hY&feature=emb_err_woyt&ab_channel=MoroccoAI"> NLP webinar </a>! </li>
                    </ul>
                <h3 id="2020">2020</h3>
                    <ul>
                        <li><strong>August:</strong> Will be TA-ing for <a href="https://www.isi.edu/~jonmay/cs662_fa20_web/"> CSCI 662: Advanced NLP </a>  </li>
                        <li><strong>July:</strong> Giving a talk in <a href="https://gss.isi.edu/agenda.html"> ISI Graduate Student Symposium (GSS) </a> </li>
                        <li><strong>April:</strong> Will be serving as a PC member for <a href="http://aacl2020.org/committee/ac/">AACL-IJCNLP 2020 </a>  </li>
                        <li><strong>February:</strong> Will be joining <a href="https://research.adobe.com/research/">Adobe Research </a> in May for a summer internship in their San Jose HQ! </li>
                    </ul>
                <h3 id="2019">2019</h3>
                    <ul>
                        <li><strong>November:</strong> Attending EMNLP 2019 in Hong Kong to present my work at CONLL !</li>
                        <li><strong>October:</strong> Participating in IARPA BETTER Kickoff Meeting ! </li>
                        <li><strong>September:</strong> Organizing the <a href="https://socalnlp.github.io/symp19/index.html"> 2nd SoCal NLP Symposium in USC! </a></li>
                        <li><strong>January:</strong> Joining USC/ISI NLP Group! </li>
                    </ul>


                <h3 id="2018">2018</h3>
                    <ul>
                        <li><strong>November:</strong> Attending EMNLP 2018 in Brussels to present a poster in CONLL!</li>
                        <li><strong>September:</strong> Graduated from EPFL with a Master in Computer Science!</li>
                    </ul>

                </div>
    </div>
</div>

<!-- Posts Index -->
<div class="outer">
    {% if page.url == "/" %}
    <div class="post-feed-title inner">Latest Articles</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>


